<div class="flex flex-col gap-5">
{{#if logged_in}}
    <h1 class="text-4xl">{{name}}'s Feed</h1>
{{else}}
    <h1 class="text-4xl">A Logged-Out Scrublord's Feed</h1>
{{/if}}

{{#if posts}}
    <div class="flex flex-col w-full gap-5">
        {{#each posts}}
        <div class="flex flex-col p-5 gap-5 bg-slate-50 border border-slate-200 hover:cursor-pointer" onclick="showContents(event)">
            <div class="flex justify-between hover:cursor-pointer">
                <div class="text-2xl font-bold">{{title}}</div>
                <div class="flex flex-col gap-1 text-slate-500 text-md items-end">
                    <div class="">{{user.username}}</div>
                    <div>{{createdAt}}</div>
                </div>
            </div>
            <div class="hidden flex-col gap-5 bg-slate-50 hover:cursor-auto">
                <div>{{content}}</div>
                <hr class="bg-slate-300">
                {{#if comments}}
                <div class="flex flex-col gap-1 items-start">
                    {{#each comments}}
                    <div class="flex flex-col gap-0 bg-slate-100 py-1 px-2 rounded-sm">
                        <div class="text-md text-slate-600">{{user.username}} - {{createdAt}}</div>
                        <div class="text-lg">{{content}}</div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                {{#if ../logged_in}}
                <div class="flex gap-3">
                    {{!-- <button class="btn-blue">Like</button> --}}
                    <input class="grow form-input form-inputs" type="text" placeholder="Comment">
                    <button class="btn-blue" onclick="comment(event, {{id}})">Comment</button>
                </div>
                {{else}}
                <div class="flex gap-3" title="login to comment on this post">
                    
                    {{!-- <button title="login to like the post" class="btn-grey hover:cursor-not-allowed" disabled>Like</button> --}}
                    <input class="grow cursor-vertical-text form-input form-inputs" type="text" disabled>
                    <button class="btn-grey hover:cursor-help" disabled>Comment</button>
                </div>
                {{/if}}
            </div>
            
        </div>
        {{/each}}
    </div>
    {{else}}
        <div>There are no more posts to display.</div>
    {{/if}}
</div>

<script src="/js/homepage.js"></script>